<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light rounded" aria-label="Twelfth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Panel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <form action="/"> 
          <div style=margin-right:10px> <button class="btn btn-outline-success me-2" type="submit" >Add New Student Data</button></div>
        </form>
       
       <form action="/logout" method ="POST">
        <div style=margin-right:10px>  <button class="btn  btn-outline-secondary" type="submit"> logout</button></div>
       </form>
        </ul>
      </div>
    </div>
  </nav>